<ion-header>
  <ion-toolbar>
    <ion-title>{{school.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label>Tel.Nr.</ion-label>
      <ion-input placeholder="Deine Telefonnummer" (ionChange)="telephoneNrChanged()" [(ngModel)]="telephoneNr"></ion-input>
    </ion-item>
    
    <ion-list>
      <ion-item *ngFor="let criteria of criteriaEvaluations">
        <ion-label slot="start">{{criteria.description}}</ion-label>
        <ion-range min="1" max="5" step="1" snaps="true" ticks="true" pin="true" 
        [(ngModel)]="criteria.value"></ion-range>
      </ion-item>
    </ion-list>
  </div>

  <ion-button expand="block" [disabled]="hideSaveBtn" (click)="saveBtnClick()">Save</ion-button>
</ion-content>


